<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TO DO</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h2>Tasks to Do:</h2>
  
    <form action="/addTask" method="post">
      <label for="taskname">Task name:</label>
      <input type="text" id="taskname" name="taskname"><br><br>
      <button type="submit">Add Task</button>
    </form>

    <h3>Task List:</h3>
    <ul id="taskList">
      <% for(let task of tasks) { %>
        <li>
          <%= task.tasks %>
          <form action="/deleteTask/<%= task._id %>" method="post" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% } %>
    </ul>
  </body>
</html>
